.list-container {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .list-link {
        display: flex;
        align-items: center;
        padding: 0.75rem 0.5rem;
        color: inherit;
        text-decoration: none;
        transition: background-color 0.3s ease;
        border-radius: 4px;
        cursor: pointer;
        gap: 0.5rem;

        & * {
            pointer-events: none;
        }


        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        svg {
            transform: scale(1.15);
            position: relative;
            min-width: 14px;
        }
    }


    .list-link:hover,
    .list-item.active {
        background-color: var(--border-color);
    }

    &.no-data-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .no-data {
            display: flex;
            align-items: center;
            gap: 1rem;
            flex-direction: column;
            flex: 1;
            padding: 0.75rem 0.5rem;
            text-align: center;

            svg {
                color: var(--border-color);
                font-size: 4rem;
            }

            span {
                font-size: 12px;
                opacity: 0.25;
            }
        }
    }

}